body,
html {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.App {
  position: relative;
  width: 100%;  
  min-height: 100vh;
  overflow: hidden;
  color: #ffffff;
  font-family: 'Pacifico';
  font-size: 1em; /* Tamaño de fuente base */
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.social-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 80%;
  transition: transform 0.3s ease;
  position: relative;
  z-index: 1;
}

.social-icon:hover {
  transform: scale(1.1);
  z-index: 2;
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

nav li {
  margin: 0 10px;
  cursor: pointer;
}


.shapes-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.shape {
  position: absolute;
  border-radius: 50%;
}

.circle {
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: linear-gradient(45deg, rgb(184, 177, 82), rgb(248, 248, 248));
  transform: rotate(-45deg) perspective(600px) rotateX(30deg);
  display: flex;
  font-size: 1em; /* Tamaño de fuente escalable */
}

.circle2 {
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: linear-gradient(45deg, rgb(30, 151, 0), rgb(13, 17, 255));
  transform: rotate(-45deg) perspective(600px) rotateX(30deg);
  display: flex;
  font-size: 1em; /* Tamaño de fuente escalable */
}

.circle1 {
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: linear-gradient(45deg, rgb(0, 238, 255), rgb(131, 0, 253));
  transform: rotate(-45deg) perspective(600px) rotateX(30deg);
  display: flex;
  font-size: 1em; /* Tamaño de fuente escalable */
}

.circle3 {
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: linear-gradient(45deg, rgb(255, 255, 255), rgb(253, 0, 63));
  transform: rotate(-45deg) perspective(600px) rotateX(30deg);
  display: flex;
  font-size: 1em; /* Tamaño de fuente escalable */
}



.bubble-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.bubble {
  position: absolute;
  width: 2%;
  padding-bottom: 2%;
}

.bubble-image {
  width: 250%;
  height: 250%;
  object-fit: cover;
  border-radius: 50%;
}

.top-left-image {
  position: fixed;
  bottom: 0%;
  left: 5%;
  width: 20em;
  height: 20em;
}

.center {
  position: fixed;
  top: 10%;
  left: 15%;
  width: 25em;
  height: 25em;
}

.center-image {
  position: fixed;
  bottom: 0%;
  left: 45%;
  width: 25em;
  height: 25em;
}

.fondo {
  position: fixed;
  border-radius: 50%;
  bottom: 0%;
  left: 35%;
  width: 30em;
  height: 30em;
}

.fondo1{
  position: fixed;
  border-radius: 50%;
  bottom: 10%;
  left: 5%;
  width: 20em;
  height: 20em;
}

.fondo2 {
  position: fixed;
  border-radius: 50%;
  bottom: 10%;
  right: 5%;
  width: 20em;
  height: 20em;
}


.bottom-image {
  position: fixed;
  top: 10%;
  right: 5%;
  width: 25em;
  height: 25em;
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 767px) {
  .top-left-image {
    bottom: 30%;
    left: 1%;
    transform: scale(1); /* Ajusta el valor de escala según tu preferencia */
    transform-origin: center; /* Define el punto de origen de la escala */
  }
  
  .center {
    top: 0.1%;
    left: 1%;
    transform: scale(0.5); /* Ajusta el valor de escala según tu preferencia */
    transform-origin: center; /* Define el punto de origen de la escala */
  }

  .center-image {
    top: 30%;
    left: 0%;
    transform: scale(0.5); /* Ajusta el valor de escala según tu preferencia */
    transform-origin: center; /* Define el punto de origen de la escala */
  }

  .bottom-image {
    top: 10%;
    right: 0%;
    transform: scale(0.4); /* Ajusta el valor de escala según tu preferencia */
    transform-origin: center; /* Define el punto de origen de la escala */
  }
  .info-image {
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10em;
    width: 10em;
    border-radius: 100%;
  }
}


@keyframes floatText {
  0%, 100% {
    transform: translate(-50%, -50%) translate(calc(100px * cos(0deg)), calc(100px * sin(0deg)));
  }
  25% {
    transform: translate(-50%, -50%) translate(calc(100px * cos(90deg)), calc(100px * sin(90deg)));
  }
  50% {
    transform: translate(-50%, -50%) translate(calc(100px * cos(180deg)), calc(100px * sin(180deg)));
  }
  75% {
    transform: translate(-50%, -50%) translate(calc(100px * cos(270deg)), calc(100px * sin(270deg)));
  }
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 900px) {

  .circle {
    font-size: 0.75em;
  }

  .link-button {
    font-size: 0.5em;
  }

  .popup-content {
    font-size: 0.75em;
  }

.top-left-image {
  width: 150px;
  height: 150px;
  border-width: 2px;
}
.fondo {
  position: fixed;
  bottom: 0%;
  border-radius: 50%;
  left: 35%;
  width: 10em;
  height: 10em;
}

.fondo1{
  position: fixed;
  border-radius: 50%;
  bottom: 10%;
  left: 5%;
  width: 10em;
  height: 10em;
}

.fondo2 {
  position: fixed;
  bottom: 10%;
  border-radius: 50%;
  right: 5%;
  width: 10em;
  height: 10em;
}

}


/* Estilos para pantallas aún más pequeñas */
@media (max-width: 480px) {

  .circle {
    font-size: 0.5em;
  }

  .link-button {
    font-size: 0.35em;
  }

  .popup-content {
    font-size: 0.5em;
  }


  .top-left-image {
    width: 100px;
    height: 100px;
    border-width: 1px;
  }
}
