body,
html {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.App {
  position: relative;
  width: 100%;  
  min-height: 100vh;
  overflow: hidden;
  color: #ffffff;
  font-family: 'Pacifico';
  font-size: 1em; /* Tamaño de fuente base */
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

nav li {
  margin: 0 10px;
  cursor: pointer;
}


.shapes-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.shape {
  position: absolute;
  border-radius: 50%;
}

.circle {
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: linear-gradient(45deg, rgb(255, 0, 0), rgb(255, 142, 13));
  transform: rotate(-45deg) perspective(600px) rotateX(30deg);
  display: flex;
  font-size: 1em; /* Tamaño de fuente escalable */
}

.circle2 {
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: linear-gradient(45deg, rgb(30, 151, 0), rgb(13, 17, 255));
  transform: rotate(-45deg) perspective(600px) rotateX(30deg);
  display: flex;
  font-size: 1em; /* Tamaño de fuente escalable */
}

.circle1 {
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: linear-gradient(45deg, rgb(0, 238, 255), rgb(131, 0, 253));
  transform: rotate(-45deg) perspective(600px) rotateX(30deg);
  display: flex;
  font-size: 1em; /* Tamaño de fuente escalable */
}

.circle3 {
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: linear-gradient(45deg, rgb(255, 255, 255), rgb(253, 0, 63));
  transform: rotate(-45deg) perspective(600px) rotateX(30deg);
  display: flex;
  font-size: 1em; /* Tamaño de fuente escalable */
}



.bubble-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.bubble {
  position: absolute;
  width: 2%;
  padding-bottom: 2%;
}

.bubble-image {
  width: 250%;
  height: 250%;
  object-fit: cover;
  border-radius: 50%;
}

.top-left-image {
  position: fixed;
  top: 70px;
  left: 20px;
  width: 200px;
  height: 200px;
  border: 4px solid white;
  border-radius: 50%;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  z-index: 1;
}

.info-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'Pacifico', cursive;
  font-size: 4em; /* Tamaño de fuente escalable */
  color: #00ffdd;
  text-shadow: 0 0 10px rgba(0, 238, 255, 0.8), 0 0 20px rgba(0, 238, 255, 0.8), 0 0 30px rgba(0, 238, 255, 0.8);
  animation: floatText 6s infinite;
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
  .corner-gif {
    width: 20%;
  }

  .circle {
    font-size: 0.75em;
  }

  .link-button {
    font-size: 0.5em;
  }

  .popup-content {
    font-size: 0.75em;
  }

  .info-text {
    font-size: 1.5em;
  }

.top-left-image {
  width: 150px;
  height: 150px;
  border-width: 2px;
}
}

/* Estilos para pantallas aún más pequeñas */
@media (max-width: 480px) {
  .corner-gif {
    width: 25%;
  }

  .circle {
    font-size: 0.5em;
  }

  .link-button {
    font-size: 0.35em;
  }

  .popup-content {
    font-size: 0.5em;
  }

  .info-text {
    font-size: 1.25em;
  }

  .top-left-image {
    width: 100px;
    height: 100px;
    border-width: 1px;
  }
}

@keyframes floatText {
  0% {
    transform: translate(-50%, -50%) translate(0, 0);
  }
  25% {
    transform: translate(-50%, -50%) translate(60px, -60px);
  }
  50% {
    transform: translate(-50%, -50%) translate(0, 0);
  }
  75% {
    transform: translate(-50%, -50%) translate(-60px, 60px);
  }
  100% {
    transform: translate(-50%, -50%) translate(0, 0);
  }
}
