body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000000;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: #ffffff;
}

.corner-gif {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px; /* Ajusta el tamaño de la imagen según tus preferencias */
  height: 300px; /* Ajusta el tamaño de la imagen según tus preferencias */
  border-radius: 50%; /* Hace que la imagen sea redonda */
  border: 2px solid white; 
  z-index: 1; /* Asegura que la imagen aparezca por encima de otros elementos */
}

.shapes-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.shape {
  position: absolute;
  border-radius: 50%;
}

.circle {
  transform: translate(-50%, -50%);
}

.bubble-container {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.bubble {
  position: absolute;
  width: 40px;
  height: 40px;
  pointer-events: none;
}

.bubble-image {
  width: 250%;
  height: 250%;
  object-fit: cover;
  border-radius: 50%; /* Agregar border-radius para hacer la imagen redonda */
}
.top-left-image {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px; /* Ajusta el ancho de la imagen según tu preferencia */
  height: 50px; /* Ajusta la altura de la imagen según tu preferencia */
  z-index: 1; /* Asegura que la imagen aparezca por encima de las figuras */
}
.link-list {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.link-item {
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s;
}

.link-item.active {
  background-color: rgba(0, 0, 0, 0.2);
}

.info-box {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
}

.info-text {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Pacifico', cursive; /* Cambia la fuente a 'Pacifico' */
  font-size: 40px; /* Aumenta el tamaño del texto */
  color: #00ffdd; /* Cambia el color del texto */
  text-shadow: 0 0 10px rgba(0, 238, 255, 0.8), 0 0 20px rgba(0, 238, 255, 0.8), 0 0 30px rgba(0, 238, 255, 0.8);
  animation: floatText 6s infinite linear; /* Animación de flotar */
}

@keyframes floatText {
  0% {
    transform: translate(-50%, -50%) translate(0, 0);
  }
  25% {
    transform: translate(-50%, -50%) translate(60px, -60px);
  }
  50% {
    transform: translate(-50%, -50%) translate(0, 0);
  }
  75% {
    transform: translate(-50%, -50%) translate(-60px, 60px);
  }
  100% {
    transform: translate(-50%, -50%) translate(0, 0);
  }
}